USE [KRR-PA-CNT-Oil]
GO
/****** Object:  Table [dbo].[RemainsTanks_KGD]    Script Date: 14.07.2019 17:05:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemainsTanks_KGD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[level] [float] NULL,
	[volume] [float] NULL,
	[mass] [float] NULL,
	[dens_avg] [float] NULL,
	[temp_avg] [float] NULL,
	[water] [float] NULL,
	[volume15] [float] NULL,
	[mass15] [float] NULL,
	[dens15] [float] NULL,
 CONSTRAINT [PK_RemainsTanks_KGD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RemainsTanks_KGD] ON 

INSERT [dbo].[RemainsTanks_KGD] ([id], [date], [level], [volume], [mass], [dens_avg], [temp_avg], [water], [volume15], [mass15], [dens15]) VALUES (1, CAST(N'2019-07-01T00:00:00.007' AS DateTime), 4000.24, 227.205, 188.557, 829.9, 26.002, 11.5, 229.31610654009671, 192.07772315246839, 837.61113011432951)
INSERT [dbo].[RemainsTanks_KGD] ([id], [date], [level], [volume], [mass], [dens_avg], [temp_avg], [water], [volume15], [mass15], [dens15]) VALUES (2, CAST(N'2019-07-01T01:00:00.007' AS DateTime), 3604.15, 204.668, 169.834, 829.8, 26.043, 11.5, 206.57698042837197, 173.016425283101, 837.53971485265436)
INSERT [dbo].[RemainsTanks_KGD] ([id], [date], [level], [volume], [mass], [dens_avg], [temp_avg], [water], [volume15], [mass15], [dens15]) VALUES (3, CAST(N'2019-07-01T02:00:00.007' AS DateTime), 3385.4, 192.212, 159.536, 830, 26.075, 11.5, 194.00935744601219, 162.53352311296933, 837.76125673834167)
GO
SET IDENTITY_INSERT [dbo].[RemainsTanks_KGD] OFF
