USE [KRR-PA-CNT-Oil]
GO
/****** Object:  Table [dbo].[RemainsTanks_TSK]    Script Date: 30.12.2019 22:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemainsTanks_TSK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dt] [datetime] NULL,
	[dt_actual] [datetime] NULL,
	[fuel_type] [int] NULL,
	[tank] [nvarchar](11) NULL,
	[level] [float] NULL,
	[volume] [float] NULL,
	[dens] [float] NULL,
	[dens_avg] [float] NULL,
	[mass] [float] NULL,
	[temp] [float] NULL,
	[relation] [float] NULL,
	[ratio_vd] [float] NULL,
	[ratio_tv] [float] NULL,
	[dens15] [float] NULL,
	[volume15] [float] NULL,
	[mass15] [float] NULL,
 CONSTRAINT [PK_RemainsTanks_TSK1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RemainsTanks_TSK] ON 

INSERT [dbo].[RemainsTanks_TSK] ([id], [dt], [dt_actual], [fuel_type], [tank], [level], [volume], [dens], [dens_avg], [mass], [temp], [relation], [ratio_vd], [ratio_tv], [dens15], [volume15], [mass15]) VALUES (129, CAST(N'2019-09-30T00:00:00.000' AS DateTime), NULL, 107000024, N'PL107000024', NULL, 6771, NULL, NULL, 5657.17, NULL, 1, 835.49992615566384, NULL, NULL, 6771, 5657.17)
INSERT [dbo].[RemainsTanks_TSK] ([id], [dt], [dt_actual], [fuel_type], [tank], [level], [volume], [dens], [dens_avg], [mass], [temp], [relation], [ratio_vd], [ratio_tv], [dens15], [volume15], [mass15]) VALUES (130, CAST(N'2019-10-01T00:00:00.000' AS DateTime), NULL, 107000024, N'PL107000024', NULL, 6771, NULL, NULL, 5657.17, NULL, 1, 835.49992615566384, NULL, NULL, 6771, 5657.17)
INSERT [dbo].[RemainsTanks_TSK] ([id], [dt], [dt_actual], [fuel_type], [tank], [level], [volume], [dens], [dens_avg], [mass], [temp], [relation], [ratio_vd], [ratio_tv], [dens15], [volume15], [mass15]) VALUES (131, CAST(N'2019-10-02T00:00:00.000' AS DateTime), NULL, 107000024, N'PL107000024', NULL, 6771, NULL, NULL, 5657.17, NULL, 1, 835.49992615566384, NULL, NULL, 6771, 5657.17)
GO
SET IDENTITY_INSERT [dbo].[RemainsTanks_TSK] OFF
