USE [KRR-PA-CNT-Oil]
GO
/****** Object:  Table [dbo].[Remains_TSK]    Script Date: 30.12.2019 22:32:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remains_TSK](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NULL,
	[level] [float] NULL,
	[volume] [float] NULL,
	[mass] [float] NULL,
	[dens_avg] [float] NULL,
	[dens_calc] [float] NULL,
	[temp_avg] [float] NULL,
	[water] [float] NULL,
 CONSTRAINT [PK_RemainsTanks_TSK] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Remains_TSK] ON 

INSERT [dbo].[Remains_TSK] ([id], [date], [level], [volume], [mass], [dens_avg], [dens_calc], [temp_avg], [water]) VALUES (1, CAST(N'2019-12-10T00:00:00.003' AS DateTime), 2728.5, 155.463, 130.262, 837.9, 837.89712021509945, 4.168, 0)
INSERT [dbo].[Remains_TSK] ([id], [date], [level], [volume], [mass], [dens_avg], [dens_calc], [temp_avg], [water]) VALUES (2, CAST(N'2019-12-10T01:00:00.003' AS DateTime), 2691.18, 153.338, 128.482, 837.9, 837.90058563435036, 4.105, 0)
INSERT [dbo].[Remains_TSK] ([id], [date], [level], [volume], [mass], [dens_avg], [dens_calc], [temp_avg], [water]) VALUES (3, CAST(N'2019-12-10T02:00:00.003' AS DateTime), 2444.7, 139.297, 116.773, 838.3, 838.30233242639827, 3.93, 0)
GO
SET IDENTITY_INSERT [dbo].[Remains_TSK] OFF
