USE [ASUCSM]
GO
/****** Object:  Table [dbo].[Oil_Transfer]    Script Date: 12.08.2019 21:57:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oil_Transfer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dt] [datetime] NOT NULL,
	[OilType] [nvarchar](50) NOT NULL,
	[out_tank] [nvarchar](10) NOT NULL,
	[out_dv] [real] NULL,
	[out_dens] [real] NULL,
	[out_dm_calc] [real] NULL,
	[in_tank] [nvarchar](10) NOT NULL,
	[in_dv] [real] NULL,
	[in_dens] [real] NULL,
	[in_dm_calc] [real] NULL,
	[delta_v] [real] NULL,
	[delta_m_calc] [real] NULL,
 CONSTRAINT [PK_Oil_Transfer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Oil_Transfer] ON 

INSERT [dbo].[Oil_Transfer] ([id], [dt], [OilType], [out_tank], [out_dv], [out_dens], [out_dm_calc], [in_tank], [in_dv], [in_dens], [in_dm_calc], [delta_v], [delta_m_calc]) VALUES (1, CAST(N'2019-01-16T10:59:26.000' AS DateTime), N'И40а                                              ', N'231       ', -0.002, 858.4, -0.002, N'135', 13.834, 876.2, 12.121, 13.836, 12.123)
INSERT [dbo].[Oil_Transfer] ([id], [dt], [OilType], [out_tank], [out_dv], [out_dens], [out_dm_calc], [in_tank], [in_dv], [in_dens], [in_dm_calc], [delta_v], [delta_m_calc]) VALUES (2, CAST(N'2019-01-16T10:59:40.000' AS DateTime), N'И40а                                              ', N'231       ', 0, 858.4, 0, N'135', 13.834, 876.2, 12.121, 13.834, 12.121)
INSERT [dbo].[Oil_Transfer] ([id], [dt], [OilType], [out_tank], [out_dv], [out_dens], [out_dm_calc], [in_tank], [in_dv], [in_dens], [in_dm_calc], [delta_v], [delta_m_calc]) VALUES (3, CAST(N'2019-01-16T10:59:43.000' AS DateTime), N'И40а                                              ', N'231       ', 0, 858.4, 0, N'135', 13.834, 876.2, 12.121, 13.834, 12.121)
GO
SET IDENTITY_INSERT [dbo].[Oil_Transfer] OFF
