USE [ASUCSM]
GO
/****** Object:  View [dbo].[Perek_View]    Script Date: 13.08.2019 23:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[Perek_View]
AS
select
	Outcomes.TankNo as out_tank
	,Incomes.TankNo as in_tank
	,Outcomes.OilType
	,Outcomes.DateCreated as out_created
	,Incomes.DateCreated as in_created
	,Outcomes.CreatedVolume as out_start_vol
	,Outcomes.VolumeStop as out_stop_vol
	,Outcomes.CreatedMass as out_start_mass
	,Outcomes.MassStop as out_stop_mass
	,Outcomes.DensStop as out_stop_dens
	,Incomes.CreatedVolume as in_start_vol
	,Incomes.VolumeStop as in_stop_vol
	,Incomes.CreatedMass as in_start_mass
	,Incomes.MassStop as in_stop_mass
	,Incomes.DensStop as in_stop_dens
from Outcomes
inner join Incomes
on Outcomes.OutcomeType = 6 and Outcomes.TankNo = Incomes.OrderId and ABS(datediff(second, outcomes.DateCreated, incomes.DateCreated)) < 2 * 60
union
select
	Outcomes.TankNo as out_tank
	,Incomes.TankNo as in_tank
	,Outcomes.OilType
	,Outcomes.DateCreated as out_created
	,Incomes.DateCreated as in_created
	,Outcomes.CreatedVolume as out_start_vol
	,Outcomes.VolumeStop as out_stop_vol
	,Outcomes.CreatedMass as out_start_mass
	,Outcomes.MassStop as out_stop_mass
	,Outcomes.DensStop as out_stop_dens
	,Incomes.CreatedVolume as in_start_vol
	,Incomes.VolumeStop as in_stop_vol
	,Incomes.CreatedMass as in_start_mass
	,Incomes.MassStop as in_stop_mass
	,Incomes.DensStop as in_stop_dens
from Outcomes
inner join Incomes
on Outcomes.OutcomeType = 6 and Incomes.TankNo = Outcomes.Receiver and ABS(datediff(second, outcomes.DateCreated, incomes.DateCreated)) < 2 * 60


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2[66] 3) )"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 5
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Perek_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Perek_View'
GO
