USE [ASUCSM]
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 11.08.2019 21:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[ValueID] [bigint] NOT NULL,
	[ValueName] [nvarchar](255) NULL,
	[ValueType] [nvarchar](50) NULL,
	[bak] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Archive] ([ValueID], [ValueName], [ValueType], [bak]) VALUES (1, N'Data_log_tanks\Logging_Level_301', N'Level', 301)
INSERT [dbo].[Archive] ([ValueID], [ValueName], [ValueType], [bak]) VALUES (2, N'Data_log_tanks\Logging_Level_304', N'Level', 304)
INSERT [dbo].[Archive] ([ValueID], [ValueName], [ValueType], [bak]) VALUES (3, N'Data_log_tanks\Logging_Level_307', N'Level', 307)
GO
