USE [ASUCSM]
GO
/****** Object:  Table [dbo].[RemainsTanks]    Script Date: 11.08.2019 21:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemainsTanks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime] NULL,
	[bak] [int] NULL,
	[Temp] [float] NULL,
	[Volume] [float] NULL,
	[Water] [float] NULL,
	[Dens] [float] NULL,
	[Level] [float] NULL,
	[Mass] [float] NULL,
	[oil_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_RemainsTanks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RemainsTanks] ON 

INSERT [dbo].[RemainsTanks] ([id], [Timestamp], [bak], [Temp], [Volume], [Water], [Dens], [Level], [Mass], [oil_type]) VALUES (1, CAST(N'2019-08-11T01:00:00.487' AS DateTime), 132, 26.3, 13.242, 0, 879, 1396.3, 11.641, N'Масло И-50А')
INSERT [dbo].[RemainsTanks] ([id], [Timestamp], [bak], [Temp], [Volume], [Water], [Dens], [Level], [Mass], [oil_type]) VALUES (2, CAST(N'2019-08-11T01:00:00.487' AS DateTime), 135, 27, 39.196, 0, 871.9, 1944.9, 34.174, N'Масло И-40А')
INSERT [dbo].[RemainsTanks] ([id], [Timestamp], [bak], [Temp], [Volume], [Water], [Dens], [Level], [Mass], [oil_type]) VALUES (3, CAST(N'2019-08-11T01:00:00.487' AS DateTime), 138, 33.6, 6.785, 0, 871.2, 525.9, 5.912, N'Масло И-50А')
GO
SET IDENTITY_INSERT [dbo].[RemainsTanks] OFF
