/****** Скрипт для команды SelectTopNRows из среды SSMS  ******/
SELECT TOP 1000 [id]
      ,[dt]
      ,[id_table]
      ,[trk_num]
      ,[side]
      ,[num]
      ,[name_trk]
      ,[name_gas_station]
      ,[serial_number_flowmeter]
      ,[identification_number_flowmeter]
      ,[fuel_type]
      ,[ukt_zed]
      ,[fuel_name]
      ,[tank_num]
      ,[dose]
      ,[passage]
      ,[volume]
      ,[mass]
      ,[start_datetime]
      ,[start_volume]
      ,[start_dens_avg]
      ,[start_mass]
      ,[start_temp]
      ,[start_counter]
      ,[stop_datetime]
      ,[stop_volume]
      ,[stop_dens_avg]
      ,[stop_mass]
      ,[stop_temp]
      ,[stop_counter]
      ,[dens_avg_delivery]
      ,[volume_delivery]
      ,[mass_delivery]
      ,[temp_delivery]
      ,[relation]
      ,[ratio_vd]
      ,[ratio_tv]
      ,[dens15]
      ,[volume15]
      ,[mass15]
  FROM [KRR-PA-CNT-Oil].[dbo].[DeliveryTanks_AZS] order by 1 desc

	select 
	min([dt]) as [dt]
	,min([name_trk]) as [name_trk]
	,min([num]) as [num]
	,min([name_gas_station]) as [name_gas_station]
	,min([serial_number_flowmeter]) as [serial_number_flowmeter]
	,min([identification_number_flowmeter]) as [identification_number_flowmeter]
	,min([fuel_type]) as [fuel_type]
	,min([ukt_zed]) as [ukt_zed]
	,min([fuel_name]) as [fuel_name]
	,sum([volume_delivery]) as [volume_delivery]
	,sum([volume15]) as [volume15]
    FROM [KRR-PA-CNT-Oil].[dbo].[DeliveryTanks_AZS]
	where [dt] = convert(datetime,'2019-09-02 00:00:00.000',120)
	group by [trk_num] ,[side]  ,[num]

	select 
	min([dt]) as [dt]
	,min([fuel_type]) as [fuel_type]
	,min([ukt_zed]) as [ukt_zed]
	,min([fuel_name]) as [fuel_name]
	,sum([volume_delivery]) as [volume_delivery]
	,sum([volume15]) as [volume15]
    FROM [KRR-PA-CNT-Oil].[dbo].[DeliveryTanks_AZS]
	where [dt] = convert(datetime,'2019-09-02 00:00:00.000',120)
	group by [fuel_type]

--Select min([dt]) as [dt] ,min([name_trk]) as [name_trk] ,min([num]) as [num] ,min([name_gas_station]) as [name_gas_station] ,min([serial_number_flowmeter]) as [serial_number_flowmeter] ,min([identification_number_flowmeter]) as [identification_number_flowmeter] ,min([fuel_type]) as [fuel_type] ,min([ukt_zed]) as [ukt_zed] ,min([fuel_name]) as [fuel_name] ,sum([volume_delivery]) as [volume_delivery] ,sum([volume15]) as [volume15] FROM [dbo].[DeliveryTanks_AZS] where[dt] = convert(datetime, '2019-09-01 00:00:00', 120) group by [trk_num],[side],[num]